<div class="dropdown">
    <button class="dropbtn element"> Menu +  </button>
    <div class="dropdown-content element" style="z-index:1">
        <ul>
            <a  href='#cn_mainpage'> Main </a>
            <a  href='#bio'>Bio </a>
            <a  href='#portfolio'>Portfolio</a>
            <!-- <a  href='#blog'>博文</a> -->
            <a  href='#posts'>Posts</a>
            <!-- <a href="#lovenotes">恋恋笔记本</a> -->
            <!-- <a  href='#contact'>合作 </a> -->
        </ul>
    </div>
</div>
<div class ="header language" >
    <a href="/cn">中文</a>
</div> 
