<div class = "section w3-content w3-section bio" id="bio">
    <!-- <h3>About Me</h3> -->
    <div class="bio-txt"> 
        <h3>--- Daisy(E) M. ---</h3>
        <h6>Currently, I am pursuing my Master's Degree in <b>Computer Science</b> at NMHU.</h6>
            
        <h6>I have previously interned at <b>DisplayRide</b> and <b>McKlein</b>. </h6>
        <h6>I am looking for opportunities in the technology consulting field and web development job to gain more practical experiences.</h6> 
    </div>
    {% for img in bio_images%}
    <img  class = "mySlides" src="{{ img.bio_img.url}}" >
    {% endfor %}
    <br>

</div> 