{% load static %}
<div class="dropdown">
    <button class="dropbtn element"> Menu +  </button>
    <div class="dropdown-content element" style="z-index:1">
        <ul>
            <a  href='#cn_mainpage'> Main </a>
            <a  href='#bio'>Bio </a>
            <a  href='#portfolio'>Hobby</a>
            <!-- <a  href='#blog'>Blog</a> -->
            <a  href='#posts'>Comments</a>
            <a  href= "{% static 'personal/text/Resume.pdf' %}" target = "_blank" >Resume</a>
            <!-- <a href="#lovenotes">恋恋笔记本</a> -->
            <!-- <a  href='#contact'>合作 </a> -->
        </ul>
    </div>
</div>
<div class ="header language" >
    <!-- <a href="/cn">中文</a> -->
</div> 
