{% load static %}
<center>
  <div id="photography" class="gallery" style="height:100%; background-color:lightgray; width:90%;">
  <h1> Photography </h1>
  <a href="{% static 'personal/img/ph1.jpg'%}" data-lightbox ="mygallery"><img style="width:500px;width:500px;"src = "{% static 'personal/img/ph1.jpg' %}"></a>
  <p>Thailand, 2014 Green</p>
  <a href="{% static 'personal/img/ph2.jpg'%}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/ph2.jpg' %}"></a>
  <a href="{% static 'personal/img/ph3.jpg'%}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/ph3.jpg' %}"></a>
  <a href="{% static 'personal/img/ph4.jpg'%}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/ph4.jpg' %}"></a>
  <a href="{% static 'personal/img/ph5.jpg'%}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/ph5.jpg' %}"></a>
  <a href="{% static 'personal/img/ph6.jpg'%}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/ph6.jpg' %}"></a>
  <a href="{% static 'personal/img/ph7.jpg'%}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/ph7.jpg' %}"></a>
  <br><br>
</center>