{% load static %}
<html style="padding:5% 10% 10% 5%; background-color:black;color:white;">
<body style="padding:5 5 5 5;">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href = "{% static 'personal/css/style.css'%}"> -->
<center><h1 style="border-bottom:10px solid white;padding:5 5 35 5;">A new solution of personal portfolio landing page</h1></center>
<style>
        body{
            font-family: 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
        }
    </style>
<div>
<h1> Overview</h1>
<p style="padding:5 5 5 5;">Present website was designed based on my personal interesting. However, it's not fit my needs like how it used be. First, clearfy the website purpose is needed as it plays a role in the career market. Second, content of each project is very important, it explains what is the work process instead of result. Third, there is no clude to find out the number of per day's visiter. I need a well-designed website purpose on job hunting.</p>

<h1> Goals </h1>
<p>Add a introduction, clearfy the purpose of website.</p>
<p>Add projects implementation processes.</p>
<p>Add a visualize of the number of daily visiters.</p>

<h1> Start by hand</h1>
<p>Always start by hand is the best way to save a designer's time.</p>
<p>Also, handy a piece of paper arround to get advice is much easier then computer.</p>
<img style="width:100%;align-content:center;" src = "{% static 'personal/img/hand.jpg'%}"></img>

<h1> Implementation</h1>
<img style="width:100%;background-color: white;" src = "{% static 'personal/img/landing-page.png'%}"></img>

</div>
</body>
</html>