{% load static %}

<center>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href = "{% static 'personal/css/style.css'%}">
    <div id="painting" class="gallery" style="width:90%;">
    <h1 style="font-variant: small-caps">Paintings</h1>
    <a href="{% static 'personal/img/p1_big.jpg' %}" data-lightbox ="mygallery"><img src = "{% static 'personal/img/p1_big.jpg' %}"></a>
    <p>2014/01/19 Thailand - Eye</p>
    <a href="{% static 'personal/img/p2_big.jpg' %}" data-lightbox ="mygallery"><img  src = "{% static 'personal/img/p2_big.jpg' %}"></a>
    <p>2014/01/20 Thailand - Lips</p>
    <a href="{% static 'personal/img/p3_big.jpg' %}" data-lightbox ="mygallery"><img src = "{% static 'personal/img/p3_big.jpg' %}"></a>
    <p>2014/01/21 Thailand - High Heels</p>
    <a href="{% static 'personal/img/p4_big.jpg' %}" data-lightbox ="mygallery"><img src = "{% static 'personal/img/p4_big.jpg' %}"></a>
    <p>2014/02/01 Thailand - Chef</p>
    <a href="{% static 'personal/img/p5_big.jpg' %}" data-lightbox ="mygallery"><img  src = "{% static 'personal/img/p5_big.jpg' %}"></a>
    <p>2016/01/08 Chicago - Cherry</p>
    <a href="{% static 'personal/img/p6_big.jpg' %}" data-lightbox ="mygallery"><img src = "{% static 'personal/img/p6_big.jpg' %}"></a>
    <p>2016/01/08 Thailand - Mao</p>
    <a href="{% static 'personal/img/p7_big.jpg' %}" data-lightbox ="mygallery"><img  src = "{% static 'personal/img/p7_big.jpg' %}"></a>
    <p>2016/01/08 Thailand - Apple</p>
    <a href="{% static 'personal/img/p8_big.jpg' %}" data-lightbox ="mygallery"><img  src = "{% static 'personal/img/p8_big.jpg' %}"></a>
    <p>2016/01/26 Thailand - Bird</p>
    </div>
  </center>