
<div class = "section" id="portfolio">
    <h3>Art means everything to me</h3>
    <h6>Here are a few snaps I took before graduating college.</h6> 
  
        <div class = "grid-container-portfolio " >
          {% for item in portfolios %}
          <a href = "{{ item.get_absolute_url }}" >
            <div class = "grid-container-portfolio-item" > 
              <img src= "{{item.portfolio_img.url}}" >
              <p>{{ item.portfolio_category}} </p>
            </div> 
          </a>
            {% endfor %} 
      </div>
  
  </div>