<div id="posts" class="section posts" >
        <h3>Comments</h3>
        <h6></h6>
        <form action="{% url 'cn' %}#posts" method="post">
          {% csrf_token %}
          <input type = "text" name = "en_name" placeholder = "name*"> </input>
          <input type = "text" name = "en_email" placeholder = "email*"> </input>
          <input type = "text" name = "en_blog" placeholder = "website(optional)"> </input>
          <!-- <input class='comment-item' class='comment-content' type = "text" name = "comment" placeholder = "请输入您的评论*"> </input> -->
          <br>
          <textarea class="comment" name = "en_comment" placeholder = "Please leave your comment here.*"></textarea>
          <br>
          <button type="submit"> Submit </button>
        </form>
        {% for comment in comments %}
        <div class='comment-item'>
            <p>{{ comment.content}}</p>
            <h6>{{comment.name}}&nbsp;&nbsp;{{comment.date}}</h6>
        </div>
        {% endfor %}
</div>