
<footer class = "footer" id="footer" >
    <br><br>
    <h2 >米线女我</h2>
    订阅我吧:
    <form method="post">
            <input type="text" name="email" ></input>
            <input type="submit" value="Submit">
    </form>
    <p><a href="https://www.instagram.com/smart_ema/?hl=en" target="#contact">Instagram</a> | <a href="https://www.linkedin.com/in/e-ma-050512162/" target="blank">LinkedIn</a> | <a href="https://www.youtube.com/channel/UCJD_WH53eKLmkzipr_9VF8g/" target="blank">Youtube</a> | <a href="https://plus.google.com/u/0/116287196993279085815" target="blank">Google+</a></p>
</footer >
