<div class="dropdown">
    <button class="dropbtn element"> 菜单 +  </button>
    <div class="dropdown-content element" style="z-index:1">
        <ul>
            <a  href='#cn_mainpage'> 主页 </a>
            <a  href='#bio'>个人档 </a>
            <a  href='#portfolio'>作品集</a>
            <a  href='#blog'>博文</a>
            <a  href='#posts'>留言</a>
            <!-- <a href="#lovenotes">恋恋笔记本</a> -->
            <a  href='#contact'>合作 </a>
        </ul>
    </div>
</div>
<div class ="header" >
    <a href="/"><h4 style="color:black">ENGLISH</h4></a>
</div> 