<!DOCTYPE html>
<html lang="en">
{% load static %}
<!-- -->

<head>
  <meta charset="utf-8" /> 
  <title>米线儿黛西</title> 
  <!-- Link in css file -->
  <link rel="stylesheet" type="text/css" href = "{% static 'personal/css/style.css'%}">
  <!-- link in lightbox file-->
  <link rel="stylesheet" type="text/css" href = "{% static 'personal/css/lightbox.min.css' %}">
  <!-- java script ligtbox file-->
  <script type="text/javascript" src="{% static 'personal/js/lightbox-plus-jquery.min.js' %}"></script>
  <div class ="header">
      <a href="/">ENGLISH</a>
  </div> 

</head>

<body class = "body" >


<!-- Menu section -->
 <div class="dropdown">
  <button class="dropbtn element"> 菜单 +  </button>
   <div class="dropdown-content element" style="z-index:1">
    <ul>
      <a  href='#cn_mainpage'> 主页 </a>
      <a  href='#bio'>个人档 </a>
      <a  href='#portfolio'>作品集</a>
      <a  href='#blog'>博文</a>
      <a  href='#posts'>留言 </a>
      <a  href='#contact'>合作 </a>
    </ul>
  </div>
</div>

<!-- main page section -->
<div class = "section typeWriter main" id = "cn_mainpage">
  
  <h1>我不是天才，我只是米线儿。</h1>
  <h6>米线女我</h6>
</div>




  <div class = "section bio" id="bio">
    <h2>个人档</h2>
    <div class="left" style = "margin-top:30px; display:block;width:50%;float:left"> 
      <p>食素</p>
      <p>控糖 控塑胶材料</p>
      <p>会写码的里面会画画会拍片会跳舞的</p> 
      <p>昆明 > 彭世洛 > 芝加哥 > 矽谷</p> 
    </div>

    <div class="right" style = "display:block;width:50%;float:right"> 
      <img style="width:50%;border-radius:50%;border:5px solid rgb(186, 139, 115);" src = "{% static 'personal/img/portfolio.png' %}" />
      </div>
  </div>



  <div class = "section portfolio" id="portfolio">
  <h2>作品集</h2>
  <h6>这里收集一些个人的原创作品</h6> 
  <ul class="profolio_menu">
      <a  href='#cn_mainpage'> 全部 </a>
      <a  href='#bio'> 游戏 </a>
      <a  href='#portfolio'>摄影</a>
      <a  href='/#experience'>绘画</a>
      <a  href='/#contact'>其他</a>
    </ul>
    <div class="portfolio-item ">
    {% for item in portfolio %} 
            <div class = "watermelon-showcase">
            <p> {{ item.name }}</p>
            <p> {{ item.date }} </p>
            </div>
    {% endfor %}
    </div>


  </div>

  <div class = "section" id="experience">

  </div>

  <div id="blog" class="section blog" >
    <h2>博文</h2>
    <h6>碎碎念频道</h6>
  </div>

  <div id="posts" class="section posts" >
      <h2>留言</h2>
      <h6>零距离对话区</h6>
  </div>

  <div class = "section contact" id="contact" >
  <p>商业合作</p>
  <p>街拍预约</p>
  <p>有偿投稿</p>
  <p>志愿模特</p>
  <p>邮箱: edaisyma@gmail.com</p> 
  </div>

</body>
</html>

