<!DOCTYPE html>
<html lang="en">
{% load static %}
<!-- -->

<head>
  <meta charset="utf-8" /> 
  <title>米线女我</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href = "{% static 'personal/css/style.css'%}">
  <link rel="stylesheet" type="text/css" href = "{% static 'personal/css/lightbox.min.css' %}">
  <div class ="header">
      <a href="/">ENGLISH</a>
  </div> 

</head>

<body class = "body" >


<!-- Menu section -->
 <div class="dropdown">
  <button class="dropbtn element"> 菜单 +  </button>
   <div class="dropdown-content element" style="z-index:1">
    <ul>
      <a  href='#cn_mainpage'> 主页 </a>
      <a  href='#bio'>个人档 </a>
      <a  href='#portfolio'>作品集</a>
      <a  href='#blog'>博文</a>
      <a  href='#posts'>留言 </a>
      <a  href='#contact'>合作 </a>
    </ul>
  </div>
</div>

<!-- main page section -->
<div class = "section typeWriter main" id = "cn_mainpage">
  <!-- <h1>我不是天才，我只是米线儿。</h1> -->
  <h6>米线女我</h6>
</div>

<!-- 
  <div class = "section bio w3-content w3-section container" id="bio">
    <!-- <h2>个人档</h2> -->
    {% for img in bio_images%}
    <img style = "width:30%" class = "mySlides" src="{{img.bio_img.url}}" >
    {% endfor %}
    {% for img in bio_images%}
    <img style = "width:50%" class = "mySlides" src="{{img.bio_img.url}}" >
    {% endfor %}
    <script>
        var myIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 2500);
        }
        </script>
      <div  class="top-left" style = "position: absolute;
                                      top: 800px;
                                      left: 16px;">
      <p>食素</p>
      <p>控糖 控塑胶材料</p>
      <p>会写码的里面会画画会拍片会跳舞的</p> 
      <p>昆明 > 彭世洛 > 芝加哥 > 矽谷</p> 
      </div>
  </div> -->

  <div class = "section portfolio" id="portfolio">
  <h2>作品集</h2>
  <h6>这里收集一些个人的原创作品</h6> 
  <ul class="profolio_menu">
      <a  href='#cn_mainpage'> 全部 </a>
      <a  href='#bio'> 游戏 </a>
      <a  href='#portfolio'>摄影</a>
      <a  href='/#experience'>绘画</a>
      <a  href='/#contact'>其他</a>
    </ul>
    <div class="portfolio-item ">
    {% for item in portfolios %}         
            <div class = "watermelon-showcase">
            <p> {{ item.name }}</p>
            <p> {{ item.date }} </p>
            </div>
    {% endfor %}
    </div>


  </div>

  <div id="blog" class="section blog" >
    <h2>博文</h2>
    <h6>碎碎念频道</h6>
    <div class="portfolio-item ">
    {% for blog in blogs %} 
            <a href = "{{ blog.get_absolute_url }} ">
              <div class = "blog-showcase">
              <p> {{ blog.title }}</p>
              <p> {{ blog.date }} </p>
              </div>
            </a>
    {% endfor %}
    </div>
  </div>

  <div id="posts" class="section posts" >
      <h2>留言</h2>
      <h6>零距离对话区</h6>
  </div>

  <div class = "section contact" id="contact" >
  <p>商业合作</p>
  <p>街拍预约</p>
  <p>有偿投稿</p>
  <p>志愿模特</p>
  <p>邮箱: edaisyma@gmail.com</p> 
  </div>

</body>
</html>

