<div id="posts" class="section posts" >
        <h2>留言</h2>
        <h6>零距离对话区</h6>
        <form action="{% url 'cn' %}#posts" method="post">
          {% csrf_token %}
          <input type = "text" name = "comment" value = "请输入您的评论"> </input>
          <input type = "text" name = "name" value = "昵称"> </input>
          <input type = "text" name = "email" value = "邮箱"> </input>
          <input type = "text" name = "blog" value = "您的主页(选填)"> </input>
          <input type="submit" value="Submit">
        </form>
        {% for comment in comments %}
        <p style="color:black">{{ comment.name}} ** {{ comment.email}} ** {{ comment.content}}</p>
        {% endfor %}
</div>