<div id="posts" class="section posts" >
        <h2>留言</h2>
        <h6>请在这里留下想要对我说的话吧</h6>
        <form action="{% url 'cn' %}#posts" method="post">
          {% csrf_token %}
          <input type = "text" name = "name" placeholder = "昵称*"> </input>
          <input type = "text" name = "email" placeholder = "邮箱*"> </input>
          <input type = "text" name = "blog" placeholder = "您的主页(选填)"> </input>
          <!-- <input class='comment-item' class='comment-content' type = "text" name = "comment" placeholder = "请输入您的评论*"> </input> -->
          <br>
          <textarea class="comment" name = "comment" placeholder = "请输入您的评论*"></textarea>
          <br>
          <button type="submit"> 提交 </button>
        </form>
        {% for comment in comments %}
        <div class='comment-item'>
            <p>{{ comment.content}}</p>
            <h6>{{comment.name}}&nbsp;&nbsp;{{comment.date}}</h6>
        </div>
        {% endfor %}
</div>