{% load static %}

<center>
    <div id="painting" class="gallery" style="height: 100%; background-color:lightgray; width:90%;">
    <h1 style="font-variant: small-caps">Paintings</h1>
    <a href="{% static 'personal/img/p1_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p1.jpg' %}"></a>
    <a href="{% static 'personal/img/p2_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p2.jpg' %}"></a>
    <a href="{% static 'personal/img/p3_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p3.jpg' %}"></a>
    <a href="{% static 'personal/img/p4_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p4.jpg' %}"></a>
    <a href="{% static 'personal/img/p5_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p5.jpg' %}"></a>
    <a href="{% static 'personal/img/p6_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p6.jpg' %}"></a>
    <a href="{% static 'personal/img/p7_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p7.jpg' %}"></a>
    <a href="{% static 'personal/img/p8_big.jpg' %}" data-lightbox ="mygallery"><img style="width:500px;width:500px;" src = "{% static 'personal/img/p8.jpg' %}"></a>
  </center>